
* {
    margin: 0;
    padding: 0;
    
}

.caixa {
    display: flex;
    background: #0753F7;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    background: #00AFF5;
    width: 400px;
    height: 400px;
    align-items: center;
    gap: 10px;
    border-radius: 9%;
    box-shadow: 9px 9px 50px rgba(0, 0, 0, 0.450);
}

h1 {
    font-family: 'Teko', sans-serif;
    color: #fff;
    font-size: 50px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.450); ;
    font-weight: bolder;
    padding: 30px 20px 40px 20px;
    text-align: justify;
}

.botao {
    background: #07f5f7;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 5vmax;
    box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.450);
}

.texto-input {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: #4E01D6;
}

input {
    margin-bottom: 15px;
}   

.login-sucess {
    color: green;
    font-family: 'Libre Franklin', sans-serif;
}

.login-failed {
    color: rgba(255, 0, 0, 0.650);
    font-family: 'Libre Franklin', sans-serif;
}
